* { margin: 0; padding: 0; -webkit-user-select: none; -webkit-touch-callout: none; }
body, html { position: relative; width: 100%; height: 100%; overflow: hidden; }

@-webkit-keyframes gira {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

body {
	font-family: 'Helvetica';
}

#wrapScreen {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 144px;
	background: #000 -webkit-linear-gradient(bottom, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.3) 100%);
	color: #fff;
}
	#wrapScreen #spanConvertido {
		line-height: 27px;
		height: 27px;
		font-size: 24px;
		color: #999;
		text-align: right;
		position: absolute;
		top: 22px;
		right: 20px;
		font-weight: 100;
	}

		#wrapScreen #spanConvertido small { 
			font-size: 18px; 
		}


	#wrapScreen #spanConverter {
		line-height: 41px;
		height: 41px;
		font-size: 36px;
		color: #fff;
		text-align: right;
		position: absolute;
		top: 49px;
		right: 20px;
		font-weight: 100;
	}

		#wrapScreen #spanConverter small {
			font-size: 30px;
		}

	#wrapScreen #spanCotacao {
		font-size: 12px;
		color: #666;
	}

	#wrapScreen .opcoes {
		position: absolute;
		width: 100%;
		height: 24px;
		line-height: 24px;
		bottom: 17px;
	}

		#wrapScreen .opcoes button {
			font-family: inherit;
			font-size: 14px;
			height: 24px;
			line-height: 24px;
			color: #444;
			border: 0;
			background-color: transparent;
		}

			#wrapScreen .opcoes button.ativo {
				color: #fff;
			}

		#wrapScreen .opcoes .pagamento {
			position: absolute;
			top: 0;
			left: 20px;
		}
			#wrapScreen .opcoes .pagamento button {
				margin-right: 18px;
			}

		#wrapScreen .opcoes .imposto {
			position: absolute;
			top: 0;
			right: 20px;
		}


#wrapInfo {
	width: 100%;
	position: absolute;
	top: 144px;
	height: 48px;
	background-color: #ccc;
	font-size: 12px;
	color: #666;
}

	#wrapInfo #spanCotacao {
		position: absolute;
		line-height: 14px;
		top: 10px;
		left: 50px;
	}

	#wrapInfo button.update {
		position: absolute;
		top: 15px;
		left: 20px;
		font-family: 'emdolar';
		width: 18px;
		height: 18px;
		line-height: 100%;
		text-align: center;
		vertical-align: middle;
		background-color: #666;
		border-radius: 20px;
		border: 0;
		background-image: url(../images/refresh.svg);
		background-size: 10px 10px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	#wrapInfo button.update.anima {
		-webkit-animation-name: gira;
		-webkit-animation-duration: 1500ms;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}

	#wrapInfo button.update.erro { 
		background-size: 18px 18px;
		background-color: transparent;
		color: #933;
		border-radius: 0px;
		background-image: url(../images/warning.svg);
	}





#wrapKeyboard {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: #d9dadc;
}

	#wrapKeyboard button {
		width: 33%;
		height: 25%;
		background-color: #d9dadc;
		border: 0;
		font-size: 30px;
		font-family: inherit;
		font-weight: 100;
		font-family: 'Helvetica-Light'
	}

	#wrapKeyboard button.touched {
		background-color: #c3c4c6;
	}

	#wrapKeyboard button#btn0 {
		width: 66%;
	}


#divLoading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: rgb(50,50,50);
}



#divSemDados {
	display:none;
	-webkit-box-pack:center; /* Horizontal */
	-webkit-box-align:center; /* Vertical */
	background-color: rgb(50,50,50);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9876543210;
	font-size: 20px;
	color: #fff;
}


@media screen and (max-height: 440px) {
	#divResolucao {
		display:-webkit-box;
		-webkit-box-pack:center; /* Horizontal */
		-webkit-box-align:center; /* Vertical */
		background-color: rgb(50,50,50);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 987654321;
		font-size: 20px;
		color: #fff;
	}
}

/*#txtValorDolar { 
	-webkit-user-select: auto;
	-webkit-touch-callout: default;
}





#wrapBotoes {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

	#wrapBotoes button {}

		#wrapBotoes button.ativo {
			background-color: green;
		}
*/